@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.nav {
  background-color: #f55a5a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  width: 24px;
  height: 24px;
}

.nav-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
  margin-left: 8px;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  gap: 19px;
  border-bottom: 1px solid #f5f5f5;
  margin-top: 22px;
  padding: 18px;
}

.card-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.card-img {
  width: 125px;
  border-radius: 5px;
}

.card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
}

.card-date {
  font-style: normal;
  font-weight: bold;
  font-size: 10.24px;
  line-height: 12px;
  color: #2b283a;
}

.card-description {
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 150%;
  color: #2b283a;
}

.card-top-pin {
  width: 7px;
  height: 9.55px;
}

.card-top-location {
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
}

.card-top-link {
  font-style: normal;
  font-weight: normal;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
}
